.Header {
  text-align: center;
  background-color:  #303f9f;
  color: white;
}

.Logo img {
    background-color:  #303f9f;
    align-items: right;
}


.Menu {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 20px;
  color: white;
}

.Menu li{
  display: inline-block;
  padding-right:10px; 
  color: white;
} 
.Menu a{
  color: white;
}
