* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 20px 15%;
}

form header {
  text-align: center;
  margin: 10px 0 10px 0;
}

form header div {
  font-size: 90%;
  color: #999;
}

form header h2 {
  margin: 0 0 5px 0;
}

form > div {
  clear: both;
  overflow: hidden;
  padding: 1px;
  margin: 0 0 10px 0;
}

form > div > fieldset > div > div {
  margin: 0 0 5px 0;
}

form > div > label,
legend {
	width: 25%;
  float: left;
  padding-right: 10px;
}

form > div > div,
form > div > fieldset > div {
  width: 90%;
  /*float: right;*/
}

form > div > fieldset label {
	font-size: 90%;
}

fieldset {
	border: 0;
  padding: 0;
}

input[type=text],
textarea {
	width: 90%;
  border: 1px solid #eee;
  margin-left: 10px;
  border-radius: 4px;
}

body {
  font-family: Helvetica, sans-serif;
}

.react-autosuggest__container {
  position: relative; /*para que aparezca abajo*/
}

.react-autosuggest__input {
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1em;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  width: 90%;
  border: 1px solid #eee;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1em;
  border-radius: 4px;
  max-height: 300%;
  overflow-y: auto;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 2% 3%;
}
